#timeline {
  display: block;
  position: relative;
  width: 100%;
}

#timeline article {
  display: block;
  position: relative;
  float: left;
  clear: left;
  width: 50%;
}

#timeline article.right {
  float: right;
  clear: right;
}

#timeline div.top p.explain {
  display: block;
  font-size: 18px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid none;
  background-color: white;
  color: #595d61;
  width: 650px;
  height: auto;
  text-align: center;
  word-break: keep-all;
  z-index: 100000;
}

.content div a {
  text-decoration: none;
  color: inherit;
}

.item_title {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  color: #595d61;
}

.item_sub_title {
  margin-top: 10px;
  padding: 0;
  color: #595d61;
}

.item_inner_title {
  display: inline;
  margin-top: 5px;
  padding: 0;
  color: #595d61;
  font-weight: bold;
}

.reference div {
  text-decoration: none;
  color: #00ccff;
  margin-top: 2px;
  padding: 0;
}

/*제목 태그*/
.title {
  display: inline-block;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid none;
  background-color: white;
  color: #595d61;
  width: 100%;
  z-index: 1;
  text-align: center;
}

/* LINE */
#timeline:after {
  content: " ";
  display: block;
  clear: both;
  z-index: -1;
}

#timeline:before {
  content: " ";
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 50%;
  width: 3px;
  margin-left: -1.5px;
  background-color: #def;
  z-index: -1;
}

/* CONTENT BOX */
#timeline article div.content {
  position: relative;
  float: right;
  border: 1px solid #d4d4d4;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  width: 60%;
  padding: 10px;
  margin-right: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#timeline article.right div.content {
  float: left;
  margin-right: 0;
  margin-left: 80px;
}

#timeline article figure,
#timeline article iframe,
#timeline article video {
  width: 100% !important;
  padding: 0 !important;
}

/* ARROWS */
#timeline article div.content:before {
  position: absolute;
  top: 10px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc; /*왼쪽 박스에 붙음 */
  border-right: 0 solid #ccc; /*오른쪽 박스에 붙음 */
  border-bottom: 15px solid transparent;
  content: " ";
}

/*이 부분이 없으면 오른쪽 상자의 오른쪽 화살표가 없어지고 왼쪽으로 화살표가 붙게 됨 이유가 뭘까.....*/
#timeline article.right div.content:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

#timeline article div.content:after {
  position: absolute;
  top: 11px;
  right: -13.7px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff; /*왼쪽 박스 말풍선 색깔 */
  border-right: 0 solid #fff; /*오른쪽 박스 말풍선 색깔 */
  border-bottom: 14px solid transparent;
  content: " ";
}

/*이 부분이 없으면 오른쪽 상자에 칠한 하얀 색이 왼쪽으로 붙게 됨.. 이유가 뭘까.....*/
#timeline article.right div.content:after {
  border-left-width: 0;
  border-right-width: 15px;
  left: -14px;
  right: auto;
}

/* BADGE --동그란 원 */
#timeline article .badge a {
  text-decoration: none;
  color: inherit;
}

#timeline article .badge {
  position: absolute;
  top: 50px;
  right: 5px;
  z-index: 100;

  width: 50px;
  height: 50px;

  line-height: 50px;
  font-size: 1.2em;
  text-align: center;

  cursor: default;
}

#timeline article.right .badge {
  left: 5px;
}

#timeline article .badge:after {
  content: " ";
  display: block;
  position: absolute;
  top: 17px;
  right: -13px;
  z-index: 10;

  width: 8px;
  height: 8px;

  background: #fff;
  border-radius: 10px;
  border: 4px solid #eeeeee;
}

#timeline article.right > .badge:after {
  left: -13px;
}

/*햄버거 메뉴바*/
body {
  display: flex;
  flex-direction: row;
}

#hamburger {
  position: fixed;
  top: 50%;
  z-index: 100000000;
}

#line {
  display: block;
  width: 30px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

#line span {
  display: block;
  width: 100%;
  height: 5px;
  background: skyblue;
  border-radius: 30px;
  position: absolute;
  margin-left: -10px;
  z-index: 2;
}

/*햄버거 위치 잡기*/
#line > span:nth-child(1) {
  top: 0px;
}

#line > span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

#line > span:nth-child(3) {
  bottom: 0px;
}

/*눌렀을 때 햄버거 회전*/

.hide {
  top: 43%;
  left: -1px;
  width: 200px;
  height: auto;
  padding: 10px 20px 25px 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: fixed;
  background-color: #fff;
  display: none;
  overflow: hidden;
  z-index: 10000000000000000000000000000;
}

.line1 span {
  display: none;
}

.hide li {
  list-style: none;
  padding: 10px 0px;
  left: 150px;
}

.hide li a {
  text-decoration: none;
  color: #595d61;
  font-size: 19px;
  left: 150px;
}

#header ul li a:hover {
  text-decoration: none;
  color: skyblue;
  font-size: 19px;
}

/* MEDIA QUERIES */
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  #timeline:after {
    display: none;
  }

  #timeline:before {
    z-index: -10000000;
  }

  #timeline article .badge {
    display: none;
  }

  #timeline article div.content:before {
    display: none;
  }

  #timeline article div.content:after {
    display: none;
  }

  #timeline article {
    margin-top: 25px;
    width: 90%;
    z-index: 100;
    margin-left: 50%;
    transform: translate(-50%);
  }

  #timeline div.top p.explain {
    width: 90%;
    margin-left: 0;
    transform: translate(0);
  }

  .title {
    font-size: 30px;
    width: 90%;
    margin-left: 50%;
    transform: translate(-50%);
  }

  #timeline article div.content {
    padding: 10px;
    margin: 20px auto;
    width: 90%;
    background-color: #fff;
  }

  #timeline article div.content div.popwrap div.overlay {
    z-index: 1000000000000000000000000000000000000000;
  }
  .popwrap {
    z-index: 10000000002;
    color: antiquewhite;
  }
}

/*공유하기*/
.overlay {
  border: 1px solid #d4d4d4;
  width: 100px;
  height: auto;
  display: none;
  position: absolute;
  background-color: #fff;
  top: 34px;
  left: -21px;
  z-index: 10000000000;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.overlay:after,
.overlay:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.overlay:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
.overlay:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #d4d4d4;
  border-width: 9px;
  margin-left: -9px;
}

.overlay li {
  list-style: none;
  margin-left: 4px;
}

.overlay li a {
  text-decoration: none;
  color: #595d61;
}

.overlay li a:hover {
  text-decoration: none;
  color: skyblue;
}

.popwrap {
  position: relative;
  width: 100%;
  height: 100%;
}

button {
  border: 0;
  outline: 0;
  text-align: left;
  color: none;
  background-color: transparent;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  color: skyblue;
}

.button1 {
  cursor: pointer;
}

.button2 {
  margin: 0;
}
.fb::before {
  content: "\f052";
  font-family: fontello;
  margin-left: 4px;
  padding-right: 0;
}

.fb {
  margin-left: -2px;
}

.link::before {
  content: "\f07b";
  font-family: fontello;
}

.twitter::before {
  content: "\f058";
  font-family: fontello;
}
